<% include ./partials/header %>

<div style="margin:0 auto;text-align: center;position: relative;" class="container">
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <span>File： </span><input id="file" type="file" name="sampleFile">
        </div>
        <button class="btn btn-primary btn-block" id="store">Upload</button>
    </form>

</div>

<% include ./partials/footer %>